<!doctype html>
<html lang="en" ng-app="createOrder">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>調整分攤費用</title>

{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular-resource.min.js"></script>
<script type="text/javascript" src="{% static 'js/create_order.js' %}"></script>
<link rel="stylesheet" href="//ichef.github.io/iC-framework/dist/css/ic-framework.min.css">

</head>

<body ng-controller="changeRoomFeeCtrl">
    <section class="ic-section" ng-hide="isSuccess">
        <h3 class="ic-section__title">房間資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                名稱
                            </span>
                            <span class="ic-list__item-value">
                                {$ room.name $}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                地址
                            </span>
                            <span class="ic-list__item-value">
                                {$ room.address $}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                租金
                            </span>
                            <span class="ic-list__item-value">
                                {$ room.rental $}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                繳費銀行代碼
                            </span>
                            <span class="ic-list__item-value">
                                {$ room.landlord_user.bank_code $}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                繳費銀行帳號
                            </span>
                            <span class="ic-list__item-value">
                                {$ room.landlord_user.bank_account $}
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <section class="ic-section" ng-hide="isSuccess">
        <h3 class="ic-section__title">分帳方式</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                <button class="ic-btn ic-btn--blue" ng-click="allocate()">自動分配</button>
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item" ng-repeat="user in room.tenant_user">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                {$ $index + 1 $}.{$ user.name $}
                            </span>
                            <span class="ic-list__item-value">
                                <input type="number" ng-model="user.live_room_amount">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                調整費用
                            </span>
                            <span class="ic-list__item-value">
                                <button class="ic-btn ic-btn--blue" type="submit" ng-click="submit()">確認</button>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
<div class="ic-popup ic-popup--blue" ng-if="isPopover">
    <div class="ic-popup__backdrop"></div>
    <div class="ic-popup__container">
        <div class="ic-popup__body">
            <div class="ic-popup__icon" ng-if="isSuccess">
                <i class="ic-icon-success ic-icon--large"></i>
            </div>
            <p class="ic-popup__message" ng-if="isSuccess">
                成功調整房租費用
            </p>
            <div class="ic-popup__icon" ng-if="!isSuccess">
                <i class="ic-icon-loading ic-icon--large ic-icon--spin"></i>
            </div>
            <p class="ic-popup__message" ng-if="!isSuccess">
                調整房租費用中...
            </p>
        </div>

        <div class="ic-popup__footer" ng-show="isSuccess">
            <button class="ic-popup__button ic-popup__button--primary" ng-click="closePopup()">OK</button>
        </div>
    </div>
</div>

<script type="text/javascript">
var roomUuid = '{{room_uuid}}';
var userUuid = '{{user_uuid}}';

</script>

</body>
