<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>付款頁面</title>

{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
<link rel="stylesheet" href="//ichef.github.io/iC-framework/dist/css/ic-framework.min.css">

</head>

<body id="main-view">
    <div class="ic-header">
        <div class="ic-header__body">
            <h1 class="ic-header__title">交易完成</h1>
        </div>
    </div>
    <section class="ic-section">
        <h3 class="ic-section__title">繳款資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                應付款人
                            </span>
                            <span class="ic-list__item-value">
                                {{ order.tenant.name }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                費用名稱
                            </span>
                            <span class="ic-list__item-value">
                                {{order.room_order.name}}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                轉出銀行
                            </span>
                            <span class="ic-list__item-value">
                                {{ pay_user.bank_code }}|{{ pay_user.bank_account }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                轉入銀行
                            </span>
                            <span class="ic-list__item-value">
                                {{ landlord.bank_code }}|{{ landlord.bank_account }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                總金額
                            </span>
                            <span class="ic-list__item-value">
                                {{ order.amount }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                餘額
                            </span>
                            <span class="ic-list__item-value">
                                {{ account_amount }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                            </span>
                            <span class="ic-list__item-value">
                                <button class="ic-btn ic-btn--blue" onclick="window.close()">確認</button>
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    
<script type="text/javascript">
</script>

</body>
