<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>付款頁面</title>

{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
<link rel="stylesheet" href="//ichef.github.io/iC-framework/dist/css/ic-framework.min.css">

</head>

<body id="main-view">
    <section class="ic-section">
        <h3 class="ic-section__title">繳款資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                房客名稱
                            </span>
                            <span class="ic-list__item-value">
                                {{ order.tenant.name }}
                            </span>
                        </span>
                    </div>
                </li>
                {% if replace_pay_user != None %}
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                代繳人名稱
                            </span>
                            <span class="ic-list__item-value">
                                {{ replace_pay_user.name }}
                            </span>
                        </span>
                    </div>
                </li>
                {% endif %}
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                繳費期限
                            </span>
                            <span class="ic-list__item-value">
                                {{ deadline }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                費用名稱
                            </span>
                            <span class="ic-list__item-value">
                                {{ order.room_order.name }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                付款金額
                            </span>
                            <span class="ic-list__item-value">
                                {{ order.amount }}
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <form action="/tenant/tenant_pay_order_success/" method="POST" id="pay_form">
    <section class="ic-section">
        <h3 class="ic-section__title">轉帳資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                轉出代碼
                            </span>
                            <span class="ic-list__item-value">
                                {{pay_user.bank_code}}
                                <input type="text" name="pay_bank_code" class="ic-input" value="{{pay_user.bank_code}}" style="visibility: hidden; width:0px;">
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                轉出帳號
                            </span>
                            <span class="ic-list__item-value">
                                {{pay_user.bank_account}}
                                <input type="text" name="pay_bank_account" class="ic-input" value="{{pay_user.bank_account}}" style="visibility: hidden; width:0px;">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                確認付款
                            </span>
                            <span class="ic-list__item-value">
                                    <button class="ic-btn ic-btn--blue" type="submit">確認</button>
                                    <input type="text" value="{{order_part_uuid}}" name="order_part_uuid" style="visibility: hidden; width:0px;">
                                    <input type="text" value="{{replace_pay_user.uuid}}" name="replace_pay_user_uuid" style="visibility: hidden; width:0px;">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    </form>

<div class="ic-popup ic-popup--blue" id="popover" style="display:none;">
    <div class="ic-popup__backdrop"></div>
    <div class="ic-popup__container">
        <div class="ic-popup__body">
            <div class="ic-popup__icon">
                <i class="ic-icon-loading ic-icon--large ic-icon--spin"></i>
            </div>
            <p class="ic-popup__message">
                付款中...
            </p>
        </div>
    </div>
</div>
    
<script type="text/javascript">
$(document).ready(function(){
    $("#pay_form").on('submit', function(){
        $("#popover").show();
        $("#pay_form").submit();
    });

});

</script>

</body>
