<!doctype html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

<title>付款頁面</title>

{% load staticfiles %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.css">
<link rel="stylesheet" href="//ichef.github.io/iC-framework/dist/css/ic-framework.min.css">

</head>

<body id="main-view">
    <section class="ic-section">
        <h3 class="ic-section__title">繳款資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                房客名稱
                            </span>
                            <span class="ic-list__item-value">
                                {{ user_name }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                繳費期限
                            </span>
                            <span class="ic-list__item-value">
                                {{ deadline }}
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                付款金額
                            </span>
                            <span class="ic-list__item-value">
                                {{ amount }}
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>

    <form action="/tenant/tenant_pay_order_success/" method="POST">
    <section class="ic-section">
        <h3 class="ic-section__title">信用卡資訊</h3>
    
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                信用卡號
                            </span>
                            <span class="ic-list__item-value">
                                <input type="text" name="card_number" class="ic-input">
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                有效期限(月/年)
                            </span>
                            <span class="ic-list__item-value">
                                <input type="number" class="ic-input ic-input--inline" style="width: 20px;">月
                            </span>
                            <span class="ic-list__item-value">
                                <input type="number" class="ic-input ic-input--inline" style="width: 20px;">年
                            </span>
                        </span>
                    </div>
                </li>
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                安全碼
                            </span>
                            <span class="ic-list__item-value">
                                <input type="number" class="ic-input">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="ic-section__container">
            <ul class="ic-list ic-list--setting">
                <li class="ic-list__item">
                    <div class="ic-list__item-container">
                        <span class="ic-list__item-body">
                            <span class="ic-list__item-label">
                                確認付款
                            </span>
                            <span class="ic-list__item-value">
                                    <button class="ic-btn ic-btn--blue" type="submit">確認</button>
                                    <input type="text" value="{{order_part_uuid}}" name="order_part_uuid" style="visibility: hidden; width:0px;">
                                    <input type="text" value="{{replace_pay_user_uuid}}" name="replace_pay_user_uuid" style="visibility: hidden; width:0px;">
                            </span>
                        </span>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    </form>
    
<script type="text/javascript">
</script>

</body>
